@import "~styles/mixins.scss";

.scetch {
    background-image: url('../../assets/scetch.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    justify-content: space-between;
    height: 500px;
    margin: 150px 0;

    @include for-phone-only {
        display: none;
    }
    @include for-tablet-portrait-only {
        display: none;
    }
}